@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?799669');
    src:  url('../fonts/icomoon.eot?799669#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?799669') format('truetype'),
      url('../fonts/icomoon.woff?799669') format('woff'),
      url('../fonts/icomoon.svg?799669#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e900";
  }
  .icon-twitter:before {
    content: "\e902";
  }
  .icon-facebook:before {
    content: "\e901";
  }
  

body
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    height: 90px;
}
/* PRIMER SELECTOR DECENTENDE */
/*----Navegation----*/
header
{
    background-color:white;
    color:#CD5C5C;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

figure
{
    margin:0;
}

ol, ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu
{
    /* inherit ayuda a .menu a hereda de la altura clase .header*/
    height: inherit; 
}
.header ol
{
    display: flex;
    height: inherit;
}

.header ol li 
{
    height: inherit;
}
.header a {
    color:#CD5C5C;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    /* Añade display flex a los elementos <a> para poder 
    centrarlos ahora que ya heredaron una altura determinada. */
    padding: 25px 10px 25px 10px;
}
.header a:hover
{
    background-color:rgba(205, 92, 92 ,.6);
    color: white;
}

/*---- Titles-----*/
h1, h2, h3, h4, h5, h6
{
    font-family: 'Fjalla One', sans-serif;
}
h1
{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: #f4fbff;
    text-shadow: 2px 2px 15px black;
    margin: auto;
    text-align: center;
    transition: all 0.5s;
}
h1 strong
{
    color:#CD5C5C;
}

.title-product, 
.title-about-us
{
    color:#CD5C5C;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.button_shop
{   
    border-radius: 5px;
    background-color:#D5DBDB;
    border: none;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 15px; 
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    
}
.button_shop:hover 
{
    background-color:#CD5C5C;
    color: white;
} 
.hero{
    height: 400px;
    background-image:url('../images/hero.jpg');
    background-color: #CD5C5C;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}


/*----About Us----*/
.about-us
{
    background: #fafafa;
    padding: 20px;
}

.about-usContainer
{
  /* border-top: 10px solid red;
  border-right: 10px solid green;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* color: blue; */
  /* border-top-color: red;
  border-top-width: 15px;
  border-top-style: solid; */
  /* border: 1px solid gray; */
  border-radius: 10px;
  /* border-top-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  /* margin: 10px; */
  margin-bottom: 15px;
  /* margin-right
  margin-left 
  margin-top */
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}


.about-us-details
{
    width: 50%;
}

.about-us-title
{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

.about-us-location, 
.about-us-url
{
    margin: 10px 0;
}

.about-us-description
{
    font-size: 20px;
    padding-right: 3px;
}


.about-us-imageContainer
{
    width: 50%;
}
.about-us-imageContainer img
{
    border-radius: 8px;
    max-width: 100%;
}


/*-----PRODUCTS---*/
.product-list
{
    display: flex;
    flex-wrap: wrap;
}

.product
{
    margin: 1%;
    width: 48%;
    flex-shrink: 0;/*flex shrink ayuda a ocupar su tamaño designado*/
    border-radius: 10px;
    overflow: hidden;
    background:#f4fbff;
}

.product img
{
    width: 480px;/*480*/
    height: 200px;
    object-fit: cover;
}

.product-detail
{
    margin: 20px 40px;
    margin-top: -40px;
    background:white;
    position: relative;
    padding: 20px;
    text-align: center;
}
.product-title
{
    font-size:30px;
}
.product-description
{
    text-align: left;
}

.product-url
{
    border:1px solid; /*nota: usa el mismo color del texto*/
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    color: #CD5C5C;

}
.product-url:hover
{
    background-color:#CD5C5C;
    color: white;
} 
/* ----Contact----*/
.form-email h3
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    margin: 10px;
}
.form-email a{
    text-decoration: none;
    color: white;
}
.contact
{
    background:#EAA1A1;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.form-email input
{
    border: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button
{
    display: block;
    background: transparent;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    padding: 10px 0;
}

.social
{
    display: flex;
    justify-content: center;
}

.social-link
{   
    display: inline-block;
    width: 50px;
    height:50px;
    margin: 0 10px;
    background-size: 50px 50px;
    color:transparent;
}

.social-link.instagram
{
    background-image: url('../images/instagram.svg');
}

.social-link.facebook
{
    background-image: url('../images/facebook.svg');
}

.social-link.twitter
{
    background-image: url('../images/twitter.svg');
}
/* -----Footer ----*/
.footer
{
    color: white;
    background-color:#CD5C5C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer img {
    vertical-align: middle;
  }
  
  .footer a {
    color: white;
  }

  
/*---CENTRAR LOS ELEMENTOS---*/
/*llamado también como wrapper*/
.containter
{
    /* border: 1px solid red; */
    max-width: 1000px; /*Se junto los titulos del header*/
    flex:1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: initial;
    flex-wrap: initial;
}

.burger-button
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(205, 92, 92 ,.8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left:5px;
    top:5px;
    color:white;
    font-size: 20px;
}
/*--------MEDIA QUERIS--------*/

/*--Laptop--*/
@media screen and (max-width:1023px)
{
    .containter{
        padding: 0 1em;
    }
}
/* --Tablet-- */
@media screen and (max-width:767px)
{   
    /*----Navegation----*/
    .burger-button{
        display: block;
    }
    .header{
        display:block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li{
        height: 50px;
    }
    .header a {
        justify-content: center;
        color: white;
        height: 40px;
        font-size: 2em;
        letter-spacing: -.5px;
        margin-bottom: .5em;
    }
    .header .logo{
        text-align: center;/*para centrar imagenes text aling*/
    }
    .menu{
        background: rgba(205, 92, 92 ,.9);
        position: fixed;
        z-index: 3;
        top:0;
        left: -100vw;/*esconder menu*/
        bottom: 0;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        text-decoration: underline;
    }
    .menu.is-active /*uso de dos calses*/
    {
        left:0;
    }
    /*------Hero------*/
    .hero{
        height: auto;
    }
    h1{
        font-size: 2.5em;
    }
    /*-----About Us-----*/
    .about-usContainer{
        display: block;
    }
    .about-us-imageContainer{
        width: auto;
        text-align: center;
    }
    .about-us-details{
        width: auto;
        font-size: 16px;
    }
    .about-us-title{
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .about-us-location{
        font-size:1em;
        margin: .3em 0;
    }
    .about-us-url{
        font-size:1em;
        margin: .3em 0;
    }
    .about-us-description{
        font-size:1.2em;
        margin: .3em 0;
    }
    /*-------Titles------*/
    .title-about-us{
        font-size: 1.5em;
        margin: .5em 0;
    }
    .title-product{
        font-size: 1.5em;
        margin:.5em 0 .5em 1em;
    }
    .product-title
    {
        font-size:1.5em;
    }
    /* -----Products----- */
    .product{
        width: auto;
        flex-shrink: initial;
    }
    .product img
    {
        width: 100%;
    }

}
/* ----Mobile--- */
@media screen and (max-width:480px)
{   
    /*-------Hero-------*/
    .hero{
        height: auto;
    }
    h1{
        font-size: 2.3em;
    }
    .button_shop{
        font-size: .5em;
    }
    /*-------About US--------*/
    .about-us-details{
        font-size: 12px;
    }

    /* -----Poduct----- */
    .product-detail{
        margin: -2em .5em .5em;
        padding: 1em;
    }
    /*-----Contact---- */
    .contact{
        height: auto;
        padding: 1em 0;
        display: block;
        text-align: center;
    }
    .form-email button{
        margin: 1em auto;
    }
    .form-email h3{
        margin-top: 0;
    }
    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent;/*uso de margincolapsing*/
    }
}